*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'MADE Soulmaze Outline', sans-serif;*/
}


@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


body {
    background: black;
}

.full-page {
    width: 100%;
    height: 100vh;
}


.h-header3 {
    position: relative;
    top: 10vh;
    align-items: center;
    padding-left: 6vw;
}

.h-header3 .text h1 {
    padding-left: 0px;
}

.h-header3 p{
    padding-top: 15px;
    color: white;
    text-align: justify;
    width: 60%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #projetos .container_projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
    width: 90%;
    margin: 45px auto;
  }
  #projetos  .box {
    background: white;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 20px 10px;
    height: 200px;
    width: 350px;

  }

  #projetos .box.activep{
    position: absolute;
    height: 70vh;
    width: 60vw;
    transition: 0.7s;
    display: block;
    transform: translateY(-15vh);
    z-index: 2;
  }

  #projetos  .box:hover{
    border: 2px solid blue;
  }

  

    .titulo-proj p{
    background: rgba(14, 0, 53, 0.2);
    backdrop-filter: blur(5px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    color: rgb(1, 1, 51);
  }


  .backg {
    width: 100%;
    height: 100%;
  }

  .blur.activep{
    background: rgba(14, 0, 53, 0.411);
    backdrop-filter: blur(8px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
  }

  .titulo-proj{
    height: 15%;
  }

  .main-proj{
    height: 55%;
  }


  #projetos .tecno{
    width: 100%;
    height: 30%;
    background: rgba(14, 0, 53, 0.2);
    backdrop-filter: blur(2px);
    position: relative;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 1;
    transition: 0.8s;
  }



  #projetos .tecno p{
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 3px;
    font-weight: 600;
    padding-top: 5px;
  }

  #projetos .barra{
    width: 100%;
    height: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;

  }

  #projetos .barra .css{
    background: rgb(89, 0, 124);
    height: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 3px;
  }
  
  #projetos .barra .html{
    background: rgb(255, 60, 0);
    height: 10px;
  }

  #projetos .barra .javaScript{
    background: rgb(231, 216, 0);
    height: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 3px;
  }

  #projetos .porcet {
    display: flex;
  }

  #projetos .porcet .bola,  #projetos .porcet .bola2,  #projetos .porcet .bola3{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: 8px;
  }

  #projetos .porcet .bola{
    background: rgb(89, 0, 124);
  }
  

  #projetos .porcet .bola2{
    background: rgb(255, 60, 0);
    left: 20px;
  }

  #projetos .porcet .bola3{
    background: rgb(231, 216, 0);
    left: 20px;
  }

  #projetos .porcet p{
    font-weight: 100;
    position: relative;
    left: 10px;
    font-size: 11px;
    padding-right: 15px;
    padding-top: 6px;

  }

  #projetos .porcet span{
    font-weight: 700;
    font-size: 12px;
  }



  .container.activep {
    background: red;
  }

  .tecno .botoes {
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    display: none;
    transition: 0.3s;
    overflow: hidden;
  }

  .botoes.activep {
    display: flex;
  }

  .tecno .botoes ul li{
    font-weight: 600;
    padding: 10px;
    padding-top: 5px;
    transition: 0.4s;
  }

  .tecno .botoes ul li:hover{
    font-size: 24px;
  }

  .tecno .botoes > p{
    width: 70%;
    padding: 8px;
    padding-left: 20px;
  }


@media only screen and (max-width: 550px) {

    .h-header3 p{
        padding-top: 40px;
        width: 90%;
    }
   
}
